<template name="accountsList">

  {{> ppHeader}}

  {{#ionView}}
    {{#ionContent}}
		
	<div class="pp-inbranch-container"> 	
		<div class="row pp-home-text">
			<div class="col">
				<h4>Bank Accounts</h4>
			</div>		
		</div>		
		
		
      {{#ionList class="list-inset"}}
          {{#ionItem}}
            <h2>52XX9XXX57</h2>
            <h3>Savings Account</h3>
            <span>Balance: ₹{{session "newAccountBalance"}}.00</span>
          {{/ionItem}}
          
          {{#ionItem}}
            <h2>52XX7XXX68</h2>
            <h3>Current Account</h3>
            <span>Balance: ₹1280.00</span>
          {{/ionItem}}                    
      {{/ionList}}		
		
		<div class="row">
			<div class="col">&nbsp;</div>
		</div>
		
	</div>	
    {{/ionContent}}  
    
    {{> _tabsIn}}
    
  {{/ionView}}
</template>
