<template name="_tabs">

    {{#ionTabs style="ios" class="tabs-background-dark tabs-color-light"}}
      {{> ionTab title="Home" path="index" iconOff="ios-home-outline" iconOn="ios-home"}}
      {{> ionTab title="Login" path="login" iconOff="ios-locked-outline" iconOn="ios-locked"}}
      {{> ionTab title="About" path="tabs.three" iconOff="ios-information-outline" iconOn="ios-information"}}
      {{> ionTab title="Help" path="tabs.four" iconOff="ios-help-outline" iconOn="ios-help"}}
    {{/ionTabs}}

</template>
