<template name="ppHeader">
  {{#contentFor "headerTitle"}}
    <img src="/images/citi_logo_2.png?r201509262221" />
  {{/contentFor}}
</template>


<template name="index">

  {{> ppHeader}}

  {{#ionView}}
    {{#ionContent}}
	<div class="pp-home-icons-container">
		<div class="row pp-icon-row">
			<div class="col pp-icon">
				{{#linkTo route="login" class="pp-icon-link"}}		
					<img src="/images/icon-login.png?r201509262221" />
					<br/>
					<span class="text">Login</span>
				{{/linkTo}}				
			</div>
			<div class="col pp-icon">
				<img src="/images/icon-pay.png?r201509262221" />
				<br/>
				<span class="text">Instant Pay<br/>&nbsp;</span>    	
			</div>
		</div>
		<div class="row pp-icon-row">
			<div class="col pp-icon">
				<img src="/images/icon-assist.png?r201509262221" />
				<br/>
				<span class="text">Instant Assist</span>
			</div>
			<div class="col pp-icon">
				<img src="/images/icon-locator.png?r201509262221" />
				<br/>
				<span class="text">ATM/Branch<br/>Locator</span>    	
			</div>
		</div>
		<div class="row pp-icon-row">
			<div class="col pp-icon">
				<img src="/images/icon-privileges.png?r201509262221" />
				<br/>
				<span class="text">Citibank<br/>Privileges</span>    	
			</div>
			<div class="col pp-icon">&nbsp;</div> 	
		</div>           
    </div>
    {{/ionContent}}
    
    {{> _tabs}}
    
  {{/ionView}}
</template>
